name: Publish snapshot to SciJava Maven

on: 
  workflow_dispatch:

jobs:
  publish:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Validate Gradle wrapper
      uses: gradle/wrapper-validation-action@v1
    - name: Download artifact
      id: download-artifact
      uses: dawidd6/action-download-artifact@v2
      with: 
        repo: qupath/openslide-crossplatform-builds
        workflow: main.yml
        name: openslide-natives
        name_is_regexp: true
    - name: Publish snapshot
      uses: gradle/gradle-build-action@v2
      with:
        arguments: publish
      env:
        MAVEN_USER: ${{ secrets.MAVEN_USER }}
        MAVEN_PASS: ${{ secrets.MAVEN_PASS }}
